<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>DATA SCIENCE JOBS</title>

  <!-- Reference Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="../static/css/style2.css">

  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin="" />

</head>

<body>

  <div class="container">

    <!-- Title -->
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>Data Science Jobs Dashboard</h1>
        <p>Use the interactive charts below to explore the dataset</p>
      </div>
    </div>

    
    <div class="row">
      <!-- Dropdown menu -->
      <div class="col-md-2">

        <div class="well">
          <h5>Test Subject ID No.:</h5>
          <select id="selDataset"  onchange="optionChanged(this.value)"></select>
        </div>


        <!-- Demographic Info -->
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Demographic Info</h3>
          </div>
          <div id="sample-metadata" class="panel-body"></div>
        </div>

      </div>

      <!--Plot -->

      <div>
        <p> <strong>Availables Routes:</strong></p>
        <p> /api/jobs</p>
        <p> /api/instituitions</p>
        <p> /api/benefits</p>
        <p> /api/wellness_programs</p>
        <p> /api/leave</p>
        <p> /api/summary</p>
        <p> /send</p>

      </div>

      <!-- Horizontal Bar Plot -->
      <div class="col-md-5">
        <div id="gauge-wellness"></div>
      </div>

      <!-- Gauge Chart -->
      <div class="col-md-5">
        <div id="gauge-benefits"></div>
      </div>
    </div>

    <!-- Bubble chart -->
    <div class="row">
      <div class="col-md-12">
        <div id="bubble"></div>
      </div>
    </div>

  </div>

  <div class="container">
    <div class="row"> 
      <div id="heatmap"></div>
    </div>
  </div>

  <!-- API key -->
  <script type="text/javascript" src="../static/js/config.js"></script>

  <!-- Leaflet JS -->
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js" integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q==" crossorigin=""></script>
  
  <!-- D3 CDN -->
  <script src="https://d3js.org/d3.v6.min.js"></script>

  <!-- Event Lister Code **NEED TO ADD** -->
  <script type="text/javascript" src="../static/js/optionChanged.js"></script>

  <!-- JS -->
  <script type="text/javascript" src="../static/js/heatmap.js"></script>

  <!-- Leaflet heatmap plugin *MUST BE AFTER HEATMAP JS FILE** -->
  <script type="text/javascript" src="../static/js/leaflet-heat.js"></script>

  <!-- Plotly plugin-->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <!-- JS -->
  <script type="text/javascript" src="../static/js/gauge.js"></script>


</body>

</html>


















